
/* SCREEN */
@media screen and (min-width: 992px) {
  .right-col {
    margin-left: 20px;
  }
  #json-string-preview {
    min-height: 80%;
  }
}

/* MAIN */
header {
  min-height: 20px;
  /*padding: 15px;*/
}

footer {
  bottom: 0;
  margin: 10px;
  padding: 0 15px 0 15px;
  position: fixed;
}

.container {
  margin: 10px;
  width: 95%;
}

.pdn-box {
  margin-top: 15px;
}

.not-serious-div {
  text-align: center;
}

/* textarea */
.json-text {
  width: 100%
}

#json-string-preview {
  background-color: #e5e5e5;
}

/* btn lang */
.lang-btn.active {
  background-color: #ffdc00;
  color: black;
}
.lang-btn {
  color: white;
}


/* Options */
#optionBox{
  margin-top: 5px;
}
.card {
  border-style: solid;
  border-width: 1;
  border-color: gray;
  background-color: #e5e5e5;
}
.card .row {
  margin-right: 15px;
  margin-left: 15px;
}

.card-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Action */
#parse-json{
  margin-bottom: 25px;
}

.result-img {
  max-width: 300px;
  padding: 10px;
}


/*----------------------------------------*/
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links {
    margin-bottom: 0px;
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#ffffff;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}

.tab-links a:hover {
  background:#c3c3c3;
  text-decoration:none;
}

li.active a, li.active a:hover {
  background:#e5e5e5;
  color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  border-radius:3px;
  background:#e5e5e5;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

/*override di bootstrap*/
.checkbox, .radio {
    margin-top: 0px;
}
